body {
  font-family: "Epilogue", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

/* typography */
.text-xl {
  font-weight: 700;
  font-size: 72px;
  line-height: 78px;
  letter-spacing: -1px;
}
.text-xl span {
  font-weight: 400;
}
.text-lg {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.5px;
}
.text-lg span {
  font-weight: 400;
}
.text-md {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.44444px;
}
.text-sm {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.5px;
}
.text-quote {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.111111px;
  color: #f3ede7;
  margin-top: 30px;
}
.text-body {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.text-footer {
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
}
.text-uppercase {
  text-transform: uppercase;
}

/* colors */
.dark-blue {
  color: #172339;
}
.grey {
  color: #49566d;
}
.creamy {
  color: #f3ede7;
}
.cream-white {
  color: #faf8f6;
}

/* buttons */
.btn {
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.16px;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn.btn-primary {
  background-color: #172339;
  color: #faf8f6;
}
.btn.btn-primary:hover {
  background: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
}
.btn.btn-secondary {
  background-color: transparent;
  color: #172339;
  border: 1px solid #172339;
}
.btn.btn-secondary:hover {
  background-color: #172339;
  color: #faf8f6;
}
.btn.btn-lg {
  padding: 15px 32px;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
}

/* header classes */
.header-content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}
header h1 {
  color: rgba(23, 35, 57, 1);
}

/* hero classes */
.hero {
  padding-bottom: 479px;
  position: relative;
}
.hero-wrapper {
  display: flex;
  height: calc(100vh - 176px);
  align-items: center;
  width: 100%;
}
.hero-content {
  width: 80%;
  position: relative;
}
.hero-text-wrap {
  max-width: 635px;
  position: relative;
}
.solution-curved-line {
  position: absolute;
  top: -50px;
  right: 50px;
  z-index: 30;
}
.hero-stats {
  width: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 63px;
}
.hero-content h1 {
  max-width: 635px;
  position: relative;
  z-index: 20;
}
.hero-content p {
  max-width: 350px;
  margin-bottom: 51px;
  margin-top: 40px;
}
.hero-content button {
  color: rgba(250, 248, 246, 1);
}
.hero-wrapper .desktop-img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.review-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 40px;
  top: -270px;
}
.review-card {
  max-width: 1109px;
  background-image: url(/assets/pattern-blur.svg);
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-color: #172339;
  border-radius: 15px;
  padding: 88px 125px;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.review-image {
  width: 50%;
}
.review-image .jeremy {
  position: absolute;
  /* top: -30px; */
  bottom: 0;
  height: 115%;
}
.review-content {
  width: 50%;
  display: flex;
}
.review-content .curved-line {
  margin-top: 60px;
  margin-right: 50px;
}
.reviewer {
  margin-top: 40px;
}
.review-card h3 {
  color: #faf8f6;
}
.reviewer .text-md {
  color: #faf8f6;
}
.reviewer .text-sm {
  color: #f3ede7;
}

/* footer classes */
footer {
  background: #f3ede7;
  /* padding-top: 360px; */
  padding-bottom: 72px;
  color: rgba(23, 35, 57, 1);
  position: relative;
  height: 464px;
  display: flex;
  align-items: flex-end;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer-content .icons {
  display: flex;
  align-items: center;
  column-gap: 28px;
}
.mobile-img {
  display: none;
}

/* mediaquery font and gradient arcs*/
/* tablet view  */
@media only screen and (max-width: 920px) {
  /* typography */
  .text-xl {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.778px;
  }
  .text-md {
    font-size: 18px;
    line-height: 32px;
  }
  .text-sm {
    font-size: 16px;
    line-height: 26px;
  }
  .text-body {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.88889px;
  }
  .text-quote {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.09px;
  }
  .header-content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hero-wrapper {
    flex-direction: column;
    height: auto;
    margin-top: 40px;
  }
  .hero-content {
    width: 100%;
    height: 500px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .hero-stats {
    width: 100%;
    max-width: 580px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 88px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-wrapper .desktop-img {
    top: 0;
    transform: none;
    width: 281px;
  }
  .hero-content h1 {
    max-width: 500px;
  }
  .hero-content p {
    max-width: 300px;
  }
  .solution-curved-line {
    max-width: 230px;
    right: 170px;
  }
  .review-wrapper {
    top: -220px;
  }
  .review-card {
    flex-direction: column;
    padding: 64px 58px;
    background-image: none;
  }
  .review-content {
    width: 100%;
    text-align: center;
    flex-direction: column;
  }
  .review-content .curved-line {
    margin: 40px 0;
  }
  .review-content h3 {
    font-size: 40px;
    line-height: 48px;
  }
  .review-image {
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url(/assets/pattern-blur.svg);
    background-size: cover;
  }
  .review-image .jeremy {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: 400px;
  }
  footer {
    height: 640px;
  }
}

/* mobile style */
@media only screen and (max-width: 540px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .text-xl {
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -0.52778px;
  }
  .btn {
    padding: 12px 15px;
    font-size: 14px;
    line-height: 24px;
  }
  .header-content {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .hero {
    padding-bottom: 860px;
  }
  .hero-content {
    height: auto;
  }
  .hero-content h1 {
    width: 100%;
  }
  .hero-content p {
    max-width: 100%;
  }
  .hero-stats {
    flex-direction: column;
    text-align: center;
  }
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
    width: 100%;
    margin-top: 55px;
  }
  .review-wrapper {
    padding: 0px;
    top: -620px;
  }
  .review-image {
    background-image: none;
  }
  .review-card {
    max-width: 100%;
    padding: 64px 16px;
    background-image: none;
  }
  .solution-curved-line {
    max-width: 150px;
    right: 73px;
    top: -40px;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
    row-gap: 33px;
  }
  footer {
    padding-bottom: 80px;
    height: 420px;
  }
}
